* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 4px 1rem;
  border: 2px solid;
  margin: 4px 15%;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

a {
  text-decoration: none;
}

#date {
  text-align: right;
  padding-right: 15%;
  font-size: 0.8rem;
}

.main {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 5% 15%;
  min-height: 50vh;
}

.main.display {
  display: flex;
}

h1,
h2 {
  font-size: 1.5em;
  padding-bottom: 2rem;
}

#new-books {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  width: 100%;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 6px;
  background: #d4b6b6;
}

.book:nth-child(even) {
  background: #fff;
}

button {
  background: #fff;
  box-shadow: 3px 1.5px 1.5px;
  padding: 2px 8px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  width: 60%;
}

input {
  padding: 2px;
  width: 100%;
  border: 2px solid;
}

.contact-list {
  flex-direction: column;
  list-style: disc;
  gap: 2px;
  padding-left: 1rem;
}

footer {
  padding: 4px 1rem;
  border: 2px solid;
  margin: 4px 15%;
  position: fixed;
  bottom: 4px;
  left: 0;
  right: 0;
}
